*.pidb
*.VisualState.xml
*.suo
*.csproj.user
*.vsp
/UnitTests/bin
/UnitTests/obj
/UnitTests/TestResult.xml

/TestApplication1/bin
/TestApplication1/obj
/Illias/obj
/Illias/bin
/IlliasHTTP/bin
/IlliasHTTP/obj
/Commons/obj
/Commons/bin
/CommonsTests/bin
/CommonsTests/obj
/GenericGraph/bin
/GenericGraph/obj
/GenericGraphInterfaces/bin
/GenericGraphInterfaces/obj
/GenericGraphTests/obj
/GenericGraphTests/bin
/QuadStore/obj
/QuadStore/bin
/QuadStoreInterfaces/obj
/QuadStoreInterfaces/bin
/QuadStoreTests/obj
/QuadStoreTests/bin
/QuadStoreHTTP/bin
/QuadStoreHTTP/obj